{% extends "dashboard/layout.html" %}

{% block body %}

    <div class="topnav">
        <h1>Smart Home Dashboard</h1>
    </div>
    <div>
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'update' %}">Admin</a>
        <a href="{% url 'index' %}" class="active">Home</a>
    </div>
    <br></br>

    <div class="heading">
        <h2>Dashboard</h2>
    </div>

    <table>
        <tr>
            <th>Floor</th>
            <th>Room No</th>
            <th>Appliance</th>
            <th>Status</th>
        </tr>

        {% for data in datas %}
            <tr>
                <td>{{data.floor}}</td>
                <td>{{data.room}}</td>
                <td>{{data.product}}</td>
                <td>{{data.status}}</td>
            </tr>                
        {% endfor %}              
                
    </table>


{% endblock %}