{% extends "dashboard/layout.html" %}

{% block body %}

    <div class="topnav">
        <h1>Smart Home Dashboard</h1>
    </div>
    <div>
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'index' %}">Home</a>
    </div>
    <br></br>

    <div class="table">
        <h2>Dashboard</h2>
    </div>
    <table id="table">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>

        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
          </tr>
            
            
        </table>


{% endblock %}